* {
  list-style: none;
}

.App {
  text-align: center;
}

.categories {
  transform: translate(0, -30px);
}

 .news-list {
  margin-top: 20px;
} 

.news-link {
  font-size: 25px;
}

.search-bar {
  width: 500px;
}

.search-icon {
  margin-top: 10px;
  margin-left: -50px;
}